@import url("../style-general.css");

.gadget-todolist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  border: solid 1px var(--color-border);
  border-radius: 1rem;
  box-sizing: border-box;

  padding: 2rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  height: 100%;
}

.gadget-todolist ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  flex: 1;
  overflow: auto;
}

.gadget-todolist .tasks-empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gadget-todolist h3 {
  font-family: var(--font-text);
  color: var(--color-text-secondary);
}

.done {
  background-color: var(--color-orange-b);
}

.task {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-orange);
}

.task div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-text);
  font-size: 0.85rem;
}

.task button {
  background-color: var(--color-green);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-text-secondary);
  border: solid 1px var(--color-border);
}

.task-input {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.task-input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: var(--font-text);
  border: solid 1px var(--color-green);
}

.task-input button {
  padding: 0.5rem 1.5rem;
  font-family: var(--font-text);

  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--color-green);
  border: solid 1px var(--color-border);
}
