@import url("../style-general.css");

.gadget-todolist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-elev);
  color: var(--text-high);
  border: solid 1px var(--muted);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100vh;
}

.gadget-todolist ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  flex: 1; /* ocupa todo el espacio sobrante */
  list-style: none;
  padding: 0 5px 0 0;
  overflow-y: auto;
}

.gadget-todolist ul::-webkit-scrollbar {
  width: 10px;
}

.gadget-todolist ul::-webkit-scrollbar-track {
  background-color: var(--primary);
  border-radius: 4px;
  margin: 0 5ch;
}

.gadget-todolist ul::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.gadget-todolist ul::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-700);
}

.gadget-todolist .tasks-empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gadget-todolist h3 {
  font-family: var(--font-text);
  color: var(--color-text-);
}

.done {
  background-color: var(--primary-700);
}

.add-category {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  background-color: var(--bg);
  border: solid 1px var(--muted);
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.add-category .input-text {
  border-radius: 0.5rem;
  color: var(--text-high);
  border: solid 1px var(--muted);
  background-color: var(--bg-elev);
  padding: 0.5rem;
}

.add-category button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: solid 1px var(--muted);
  background-color: var(--primary);
  font-family: var(--font-text);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.color-category {
  width: 5px;
  height: 10rem;
  left: 0;
  top: 0;
  position: absolute;
}

.task {
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  height: 3rem;
  padding: 0.25rem 0 0.25rem 0.5rem;
  border-radius: 0.25rem;
  user-select: none;
  border: 1px solid var(--primary);
}

.task div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-text);
  font-size: 0.85rem;
}

.drag-handle {
  cursor: grab;
  margin-right: 8px;
}

.gadget-todolist li {
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0; /* evita que se achiquen */
}

.task button {
  background-color: var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: solid 1px var(--muted);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.task-input {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.task-input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-high);
  background-color: var(--bg);
  font-family: var(--font-text);
  border: solid 1px var(--muted);
}

.task-input button {
  padding: 0.5rem 1.5rem;
  font-family: var(--font-text);
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  border: solid 1px var(--muted);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.gadget-todolist button:hover {
  background-color: var(--primary-700);
}

.gadget-todolist button:active {
  transform: scale(0.9);
}
