@import url("../style-general.css");

.gadget-pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
}

.gadget {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-border);
  border-radius: 1rem;
}

.title-gadget {
  position: absolute;
  color: #616161;
  font-family: var(--font-title);
  top: 0;
  left: 1rem;
}

.clock .time,
.date {
  font-size: 200%;
  text-align: center;
  font-family: var(--font-text);
  margin: 0;
}

.pomodoro .timer {
  font-size: 200%;
  text-align: center;
  font-family: var(--font-text);
  margin: 0;
}

.pomodoro button {
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-family: var(--font-title);
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-green);
  border: solid 1px var(--color-border);
}

.pomodoro .buttons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
