.gadget-chat {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--bg-elev);
  color: var(--text-medium);
  border: solid 1px var(--muted);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  height: 100%;
}

.form-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.form-chat input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px var(--muted);
  background-color: var(--bg);
  color: var(--text-high);
}

.form-chat button {
  background-color: var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: solid 1px var(--muted);
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.form-chat button:hover {
  cursor: pointer;

  background-color: var(--primary-700);
}

.messages-box {
  position: relative;
  font-family: var(--font-text);
  color: var(--color-medium);
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  overflow: auto;
}

.user-message {
  width: 50%;
  right: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--primary);
  color: var(--text-high);
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
}

.chatbot-message {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  left: 0;
  padding: 0.5rem 0.5rem;

  border-radius: 0.5rem;
  z-index: 1;
  border: solid 1px var(--primary);
  background-color: var(--bg);
}

.messages-box p {
  margin: 0;
}

.message-box {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-content: center;
}

.user-chat-box {
  justify-content: right;
}

.bot-chat-box {
  flex: 1;
  justify-content: left;
}
