@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@700&family=Poppins:wght@400;600&display=swap");

:root {
  /* Colores principales (para botones, highlights, alertas) */
  --color-orange: #ff6f00;
  --color-pink: #ff4081;
  --color-yellow: #ffd500;
  --color-green: #00e676;
  --color-green-hover: #006d38;

  --color-purple: #6200ea;

  /* Fondos y textos para tema claro */
  --color-bg: #ffffff; /* fondo general */
  --color-card-bg: #f5f5f5; /* tarjetas o módulos */
  --color-text-primary: #212121; /* texto principal */
  --color-text-secondary: #616161; /* texto secundario */
  --color-border: #111; /* bordes y separadores */
  --color-overlay: rgba(0, 0, 0, 0.05); /* overlays suaves */

  /* Tipografías */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Inter", sans-serif;
  --font-button: "Poppins", sans-serif;
}

.title-gadget {
  position: absolute;
  color: #616161;
  font-family: var(--font-title);
  top: 0;
  left: 1rem;
}
