@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@700&family=Poppins:wght@400;600&display=swap");

:root {
  /* Colores principales (para botones, highlights, alertas) */
  --color-orange: #ff6f00;
  --color-orange-b: #ff6f0080;

  --color-pink: #ff4081;
  --color-yellow: #ffd500;
  --color-green: #00e676;
  --color-green-hover: #006d38;

  --color-purple: #6200ea;

  --bg: #0b0f14;
  --bg-elev: #11161b;
  --surface: #151a20;
  --muted: #22272d;

  --text-high: #e6eef3;
  --text-medium: #a9b3bd;
  --text-faint: #7e8a94;

  --primary: #4ea8ff;
  --primary-700: #2e8ce6;
  --accent: #9b7dff;

  --success: #46dca3;
  --warning: #ffb86b;
  --danger: #ff6b6b;
  /* Fondos y textos para tema claro */
  --color-bg: #ffffff; /* fondo general */
  --color-card-bg: #f5f5f5; /* tarjetas o módulos */
  --color-text-primary: #212121; /* texto principal */
  --color-text-secondary: #616161; /* texto secundario */
  --color-border: #111; /* bordes y separadores */
  --color-overlay: rgba(0, 0, 0, 0.05); /* overlays suaves */

  /* Tipografías */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Inter", sans-serif;
  --font-button: "Poppins", sans-serif;
}

.title-gadget {
  position: absolute;
  color: var(--text-high);
  font-family: var(--font-title);
  top: -0.5rem;
  left: 1rem;
}
