.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "minichatbot tasks searchMusic  music-controller"
    "minichatbot tasks searchMusic pomodoro";
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--bg);
}

.pomodoro {
  grid-area: pomodoro;
}

.tasks {
  grid-area: tasks;
}

.mini-chat-bot {
  grid-area: minichatbot;
}

.search-music {
  grid-area: searchMusic;
}

.music-controller {
  grid-area: music-controller;
}
