.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "minichatbot tasks searchMusic  music-controller"
    "minichatbot tasks searchMusic pomodoro";
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--bg);
}

.pomodoro {
  grid-area: pomodoro;
}

.tasks {
  grid-area: tasks;
}

.mini-chat-bot {
  grid-area: minichatbot;
}

.search-music {
  grid-area: searchMusic;
}

.music-controller {
  grid-area: music-controller;
}

/* Tipos */
.notifications-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 15rem;
  padding: 12px 16px;
  border-radius: 6px;
  text-align: left;
  font-family: var(--font-text);
  font-weight: normal;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.notification.success {
  background-color: #336b3591;
  border: solid 2px green;
}

.notification.error {
  background-color: #f44336;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(+10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-10px);
  }
}
